#
# Node.js
#

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# documemt of the project
challenge.docx

#
# Python 
#

# Cache of Python
__pycache__/
